*{
    font-family: 'Lato', sans-serif;
}
html{
    height: 100%;
}
body{
    background-color: #303035;
    height:inherit;
    margin: 0px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    font-family: 'Lato', sans-serif;
    color:white;
}
#menu{
    background-color: #2C2C30;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: column;
    flex: 0.1 1 auto;
}
#menu #menu-logo{
    background-color: transparent;
    padding:5px;

    border-bottom: 1px solid #04BD4F;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-family: 'Grand Hotel', cursive;
    font-size:25px;
    letter-spacing: 0.7px;
}
#content{
    display: inline-flex;
    flex: 1 1 auto;
}