*{
    font-family: 'Lato', sans-serif;
}
html{
    height: 100%;
}
.active{
    background-color: rgba(255, 255, 255, 0.04);
    border-right:2px solid #39B1AC !important;
    box-shadow: inset 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
    background-color: #303035;
    height:inherit;
    margin: 0px;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;

    font-family: 'Lato', sans-serif;
    color:white;
}
#menu{
    background-color: #2C2C30;
    max-width:20%;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0.1 1 auto;
}
#menu #menu-logo{
    background-color: rgba(0, 0, 0, 0.16);
    border-left: 2px solid #139BC8;

    display: inline-flex;
    flex:0.1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-family: 'Raleway', sans-serif;
    font-size:25px;
}
#menu .menu-item{
    padding-top:12px;
    padding-bottom: 12px;

    border-right:2px solid transparent;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    font-size:22px;
    text-decoration: none;
    color:white;

    cursor:pointer;
}
#menu .menu-item:hover{
    background-color: rgba(255, 255, 255, 0.04);
    border-right-color: #39B1AC;
    box-shadow: inset 0 4px 80px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#menu .menu-item i{
    margin-left:20px;
    align-self: flex-end;
}
#menu .menu-item span{
    margin-right: 50px;
}
/* ------------------- CONTEÚDO --------------------- */
#content{
    display: inline-flex;
    justify-content: center;
    padding-top:100px;
    flex: 1 1 auto;
}
#content table{
    border:1px solid rgba(0, 0, 0, 0.2);
    flex-grow:0.7;
}
#content table td{
    border-right:1px solid rgba(0, 0, 0, 0.1);
    padding:15px;
}
#content table .table-title{
    background-color: transparent;
    border-bottom: 2px solid #0A74B8;

    font-family: 'Roboto', sans-serif;
    color:#0A74B8;
}
#content table .table-cell-dark{
    background-color: #2C2C30;
}
#content table .table-cell{
    background-color: transparent;
}
