*{
    font-family: 'Lato', sans-serif;
}
body{
    background-color: #ECECEC;
    margin: 0px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    font-size: 22px;
}

#menu{
    width:100%;
    margin-top:20px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
#menu #logo{
    margin-left: 40px;
    padding:0px;

    color:black;
    font-size:48px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
}
#menu #menu-nav{
    margin-left:auto;
    margin-right:50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#menu #menu-nav .nav-item{
    padding:0px;
    margin-left:15px;
    margin-right:15px;

    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
#menu #menu-nav .nav-item:hover{
    color: rgba(0, 0, 0, 0.8);
}
#menu #menu-nav .nav-item:after{
    content:'';
    display: block;
    margin-top:3px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #39B1AC;

    transform: scaleX(0);
    transition: 0.3s;
}
#menu #menu-nav .nav-item:hover:after{
    transform: scaleX(0.8);
}
#menu #menu-nav #button{
    padding:5px;
    padding-left:20px;
    padding-right:20px;

    border-radius:20px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.7);

    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}
#menu #menu-nav #button:hover{
    /* background-color: #537BD8; */
    border-color: #39B1AC;
    color: #39B1AC;
}
/* ~~CONTEÚDO DO CORPO~~ */
@keyframes word-surge{
    0%{ opacity: 0; top: 20px; }
    100%{ opacity: 1; top: 0px; }
}

#content{
    height: 740px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
}
#content #words-wrapper{
    padding-left:50px;
    padding-top:60px;
}
#content #words-wrapper .vorcc-word{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    font-size: 48px;
    opacity: 0;
    position: relative;
    animation: word-surge 2s forwards;
}
#content #words-wrapper .vorcc-word span{
    background-color: #39B1AC;
    color:white;
    padding:5px;
    margin-right:5px;

    border-radius:5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
}
#content #words-wrapper .vorcc-word#a{animation-delay: 0.5s;}
#content #words-wrapper .vorcc-word#b{animation-delay: 1s;}
#content #words-wrapper .vorcc-word#c{animation-delay: 1.5s;}

/* ------------------------------- LOGIN.PHP -------------------------------------*/

.login-container {
    

    margin: 0 auto;
    margin-top:75px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    box-sizing: border-box;

}
.login-container #title{
    background-color: #39B1AC;
    box-sizing: border-box;
    padding:10px;

    color:white;
    font-size:23;
}
.login-container #form-container{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding:20px;

    display: inline-flex;
    flex:1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.login-container #form-container .icon-mask{
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 0.1px 0px 0 rgba(0, 0, 0, 0.2), 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.2);
}
.login-container #form-container .icon-mask .fas{
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    padding:7.8px;
    font-size:20px;
    color:#39B1AC;
}
.login-container #form-container .form-input{
    background-color: transparent;
    width:179px;
    border:none;

    padding:10px;
    outline: none;
    /**/
}
.login-container #form-container .form-input:focus + .fas{
    border-col
}

.login-container #form-container .form-submit-container{ 
    display: inline-flex;
    flex: 1 1 auto;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
}
.login-container #form-container .form-submit-container a{
    font-size:16px;
    color:rgba(0, 0, 0, 0.8);
}
.login-container #form-container .form-submit-container #submit-btn{
    visibility: hidden;
    width:0px;
    height: 0px;
    margin:0px;
    border:none;
    padding:0px;
    background-color: transparent;
} 
.login-container #form-container .form-submit-container .form-submit{
    background:none;
    background-color: transparent;
    margin-left: 30px;
    display: block;
    border: 1px solid #39B1AC;
    
    padding:7px;
    padding-left: 30px;
    padding-right: 30px;

    color:#39B1AC;
    font-weight: normal;
    font-size: 16px;
    cursor:pointer;
    position: relative;
    z-index:1;
}
.login-container #form-container .form-submit-container .form-submit:hover{
    transition:0.2s;
    color:white;
}
.login-container #form-container .form-submit-container .form-submit:after{
    content: "";
    background-color: #39B1AC;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index:-1;
    transition: top 0.2s ease-in;
}
.login-container #form-container .form-submit-container .form-submit:hover:after {
    top:0;
}
#empresa, #pin {
    display: none;
}
/* ------------------ DASHBOARD -------------------------*/

